<% if data['type'] == 'text' %>
  <%= raw data['title'] %></br>
  <%= raw data['body'] %>
<% elsif data['type'] == 'quote' %>
  <%= raw data['text'] %>
<% elsif data['type'] == 'link' %>
  <a href="<%= data['url'] %>">
    <%= data['title'] %>
  </a>
<% elsif data['type'] == 'answer' %>
  <%= data['answer'] %>
<% elsif data['type'] == 'video' %>
  <%= raw data['player'][1]['embed_code'] %>
<% elsif data['type'] == 'audio' %>
  <%= raw CGI.unescapeHTML(data['embed']) %>
<% elsif data['type'] == 'photo' %>
  <img src=<%= data['photos'].first['alt_sizes'][2]['url'] %> />
<% elsif data['type'] == 'chat' %>
  <%= data['body'] %>
<% end %>